<form class="form-signin" method="POST">


  {{#each errorMessages }}
  <div class="alert alert-danger">
    {{this.msg}}

  </div>
  {{/each}}


    <h2 class="form-signin-heading  text-center">New Account</h2>
    <br>
    <input type="text" name="name"  class="form-control" placeholder="Name" require="autofocus">
<br>

    <input type="email" name="email" class="form-control" placeholder="Email Address" require="autofocus">

<br>  
  <input type="password" name="password" class="form-control" placeholder="Password" require="autofocus">

<br>
  <input type="password" name="password2" class="form-control" placeholder="Confirm Password" require="autofocus">

<br>
<button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
<br>
<h4 class="text-center">OR</h4>
<br>
<a href="/auth/facebook" class="btn btn-lg btn-success btn-block">Sign Up with Facebook</a>
</form>